    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
      <a class="navbar-brand" href="#">
        <i class="fa fa-lg">Logo</i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div>
          <button type="button" class="btn mr-2 text-white" style="background-color:  #AA1E28;">Đăng xuất</button>
      </div>
    </div>
    </nav>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-sm-3">
          <div class="card mb-3">
                <div class="list-group list-group-flush" id="list-group-dropdown">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action dropdown-toggle">Chỉnh sửa khóa học</a>
                    <ul class="collapse list-unstyled active" id="homeSubmenu">
                        <li>
                            <a href="/admin/add_course">Thêm khóa học</a>
                        </li>
                        <li>
                            <a href="/admin/del_course">Xóa khóa học</a>
                        </li>
                        <li>
                            <a href="/admin/edit_course">Chỉnh sửa khóa học</a>
                        </li>
                    </ul>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thống kê
                        <span class="badge badge-pill badge-danger float-right"></span>
                    </a>
                    <a href="" class="list-group-item list-group-item-action">
                        Quản lý học viên
                    </a>
                    <a href="/admin/admin_profile" class="list-group-item list-group-item-action">
                        Thông tin cá nhân
                    </a>
                    <a href="/admin/teacher_manage" class="list-group-item list-group-item-action">
                        Quản lý giảng viên
                    </a>

                </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div><h3 class="header" style="margin-left: 5rem;"> Thêm khóa học </h3></div>    
          </div>
          <form method="POST" action="">
              <div class="card-body">
                  <table>
                      <tr>
                          <th>Tên khóa học</th>
                          <th>
                              <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus>
                          </th>    
                      </tr>
                      <tr>
                          <th>Mô tả khóa học</th>
                          <th>
                              <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus>
                          </th>    
                      </tr>
                      <tr>
                          <th>Giảng viên</th>
                          <th>
                              <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus>
                          </th>    
                      </tr>
              </table>
              <div style="margin-left: 5rem;">
                  <button class="btn btn-outline-success my-2 my-sm-0 main_color_button" type="submit">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    Thêm
                  </button>
              </div>

              </div>
                  <div class="card">
                    <div class="card-body">
                      <!--Form Edit-->
                       <!--Form Edit .//-->
                      <div id="table" class="table-editable">
                        
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                          
                            <thead>
                              <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Tên bài học</th>
                                <th class="text-center">Nội dung bài học</th>
                                <th class="text-center">Up video</th>
                              </tr>
                            </thead>
                            <tbody>
                                <form action="/user/profile/edit-email" method="post">
                              <tr>
                                <td class="pt-3-half" contenteditable="true">1</td>
                                <td class="pt-3-half" contenteditable="true">
                                <input type="hidden" name="idHocVien" value="">
                                  <input type="email" class="form-control" id="editInputEmail" name="Email" placeholder="">
                                </td>
                                <td class="pt-3-half" contenteditable="true">
                                <input type="hidden" name="idHocVien" value="">
                                  <input type="email" class="form-control" id="editInputEmail" name="Email" placeholder="">
                                </td>
                                <td>
                                  <span class="table-remove"><button type="submit"
                                      class="btn btn-success btn-rounded btn-sm btn-block my-0">Thêm</button></span>
                                </td>
                              </tr>
                              </form>
                            </tbody>
                          </form>
                        </table>
                      </div>
                    </div>
                  </div>
          </form>

        </div>
      </div>
    </div>
