<div class="row">
 
  <div class="col-sm-3">
    <li class="list-group-item p-5">
      <a  class="btn btn-outline-success" href="/admin/doanhthu" role="button">DOANH THU</a>
    </li>
    <li class="list-group-item">profile</li>
    <li class="list-group-item">kiem tra</li>
  </div>
   <div class="col-sm-9">
       <div class="row">
           {{#each this.admin}}
             
           {{/each}}
       </div>
   </div>
</div>