<div class="row">
 
  <div class="col-sm-3">
    <li class="list-group-item">doanh thu</li>
    <li class="list-group-item">profile</li>
    <li class="list-group-item">kiem tra</li>
  </div>
   <div class="col-sm-9">
       <div class="row">
           {{#each this.admin}}
             
           {{/each}}
       </div>
   </div>
</div>