  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">
      <i class="fa fa-lg">Logo</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div>
        <button type="button" class="btn mr-2 text-white" style="background-color:  #AA1E28;">Đăng xuất</button>
    </div>
  </div>
  </nav>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-sm-3">
        <div class="card mb-3">
          <div class="list-group list-group-flush" id="list-group-dropdown">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action dropdown-toggle">Chỉnh sửa khóa học</a>
            <ul class="collapse list-unstyled active" id="homeSubmenu">
                <li>
                    <a href="#">Thêm khóa học</a>
                </li>
                <li>
                    <a href="#">Xóa khóa học</a>
                </li>
                <li>
                    <a href="#">Chỉnh sửa khóa học</a>
                </li>
            </ul>
            <a href="#" class="list-group-item list-group-item-action">
              Thống kê
              <span class="badge badge-pill badge-danger float-right"></span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Quản lý học viên
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Thông tin cá nhân
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Quản lý giảng viên
            </a>

          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div><h3 class="header"> Thông tin admin </h3></div>
          <div style="margin-left: 5rem;">
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-success my-2 my-sm-0 main_color_button" type="submit">
                <i class="fa" aria-hidden="true"></i>
                Thêm admin
              </button>
            </form>
          </div>
    
        </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID </th>
                  <th scope="col">Tên đăng nhập</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mật khẩu </th>
                  <th scope="col" >Chỉnh sửa</th>
                  <th scope="col">Xóa</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  {{#each this.list}}
                  <th scope="row">1</th>
                  <td>Username 1</td>
                  <td>sample@gmail.com</td>
                  <td>1234</td>
                  <td>
                    <a name="" id="" class="icon_btn btn-sm" href="javascript:;" role="button" title="Edit Admin">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                  </td>
                  <td>
                    <a name="" id="" class="icon_btn btn-sm" href="javascript:;" role="button" title="Delete Admin">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
