<section class="section-content padding-y">
        <div><h1 class="d-flex justify-content-center">All web development courses</h1></div>
        <div class="container">
        
        <div class="row">
            <!--Filter bar-->
            <div class="col-md-3">
             <!-- filter-topic -->   
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Category 1</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_1">
                    <div class="card-body">
                        <ul class="list-menu">
                        <li><a href="#">Topic 1</a><b class="badge badge-pill badge-light float-right">35</b> </li> 
                        <li><a href="#">Topic 2</a><b class="badge badge-pill badge-light float-right">35</b></li>
                        <li><a href="#">Topic 3 </a><b class="badge badge-pill badge-light float-right">35</b></li>
                        </ul>
                    </div> <!-- End card-body.// -->
                </div>
            </article>
             <!-- filter-topic .// -->
            <article class="filter-group">
              <header class="card-header">
                  <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true">
                      <i class="icon-control fa fa-chevron-down"></i>
                      <h6 class="title">Category 2</h6>
                  </a>
              </header>
              <div class="filter-content collapse show" id="collapse_2">
                  <div class="card-body">
                      <ul class="list-menu">
                      <li><a href="#">Topic 1</a><b class="badge badge-pill badge-light float-right">20</b> </li> 
                      <li><a href="#">Topic 2</a><b class="badge badge-pill badge-light float-right">35</b></li>
                      <li><a href="#">Topic 3 </a><b class="badge badge-pill badge-light float-right">15</b></li>
                      <li><a href="#">Topic  </a><b class="badge badge-pill badge-light float-right">25</b></li>
                      <li><a href="#">Topic 3 </a><b class="badge badge-pill badge-light float-right">10</b></li>
                      </ul>
                  </div> <!-- card-body.// -->
              </div>
          </article> <!-- filter-group  .// -->
        
        </div> <!--Filter bar .//-->

        <!--Course list with pagination-->
        <main class="col-md-9">
        
        <div class="row">
            
          <div class="container mt-5 mb-5 mt-2">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <!--Course-->
                   <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../img/onlCourse.jpg"></div>
                        <div class="col-md-6 mt-1">
                            <h5>{{TenKhoaHoc}}</h5>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>(5100)</span>
                            </div>
                            <div><b>DR. Angela Yu</b></div>
                            <div class="mt-1 mb-1 spec-1"><span>55 total hours</span><span class="dot"></span><span>44 lectures</span><span class="dot"></span><span>All level<br></span></div>
                            <p class="text-justify text-truncate para mb-0">Become a full-stack web developer with just one course. HTML, CSS, Javascript, Node, React, MongoDB and more!<br><br></p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                            </div>
                            <h6 class="text-success"><span class="badge badge-danger ml-3"><i class="far fa-clock pr-1"></i>Bestseller</span></h6>
                            <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-eye" aria-hidden="true"></i>Details</button><button class="btn btn-outline-danger btn-sm mt-2" type="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button></div>
                        </div>
                    </div>
                    <!--End Course .//-->
                     <!--Course-->
                   <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../img/onlCourse.jpg"></div>
                        <div class="col-md-6 mt-1">
                            <h5>{{TenKhoaHoc}}</h5>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>(5100)</span>
                            </div>
                            <div><b>DR. Angela Yu</b></div>
                            <div class="mt-1 mb-1 spec-1"><span>55 total hours</span><span class="dot"></span><span>44 lectures</span><span class="dot"></span><span>All level<br></span></div>
                            <p class="text-justify text-truncate para mb-0">Become a full-stack web developer with just one course. HTML, CSS, Javascript, Node, React, MongoDB and more!<br><br></p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                            </div>
                            <h6 class="text-success"><span class="badge badge-danger ml-3"><i class="far fa-clock pr-1"></i>Bestseller</span></h6>
                            <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-eye" aria-hidden="true"></i>Details</button><button class="btn btn-outline-danger btn-sm mt-2" type="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button></div>
                        </div>
                    </div>
                    <!--End Course .//-->
 
                </div>
                <!--End course list .//-->
                <!--Pagination-->
                <nav class="mt-4" aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
                <!--End pagination-->
            </div> 
            </div>     
        </main> 
            <!--End Course list with pagination .//-->
        
        </div>
        
        </div> <!-- container .//  -->
        </section>