  <header>
 <!--Menu-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color main_background_color">
    <!-- Tên trang học -->
    <a class="navbar-brand" href="#">N-five</a>
  
    <!-- Menu-->
    <div class="collapse navbar-collapse" id="menuNav">
  
      <!-- Danh mục menu -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item col-sm-7">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item col-sm-7">
          <a class="nav-link" href="#">Hỗ trợ</a>
        </li>
  
        <!-- Danh sách khóa học -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Khóa học</a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Ngoại ngữ</a>
            <a class="dropdown-item" href="#">Lập trình</a>
            <a class="dropdown-item" href="#">Hội họa</a>
            <a class="dropdown-item" href="#">Âm nhạc</a>
            <a class="dropdown-item" href="#">Nấu ăn</a>
          </div>
        </li>
  
      </ul>
      <!--Thanh tìm kiếm-->

      <form class="form-inline">
        <div class="md-form my-0">
        <button class="btn"><i class="fa fa-search"></i></button>
          <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm khóa học" aria-label="Search">
        </div>
      </form>
    </div>
  
  </nav>
  <nav class="primary-color bg-white shadow-sm p-3 mb-5 bg-white rounded">
    <div class="d-flex justify-content-end">
        <div>
            <img src="/img/titleWeb-01.png" class="img-fluid" alt="Responsive image" style="height: 40px;">
        </div>
        <div class="mr-2">
            <button type="button" class="btn btn-info">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span class="badge badge-pill badge-danger">3</span>
            </button>
        </div>
        <div>
           <a name="" id="" class="btn btn-primary" href="/account/login" role="button">đăng nhập</a>
        </div>
        
        <div>
            <a name="" id="txtRegister" class="btn btn-primary" href="/account/register" role="button"> dang ki </a>
        </div>
        
    </div>
    
  </nav>
    </header>