  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">
      <i class="fa fa-lg">Logo</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div>
        <button type="button" class="btn mr-2 text-white" style="background-color:  #AA1E28;">Đăng xuất</button>
      </div>
    </div>
  </nav>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-sm-3">
        <div class="card mb-3">
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action active main_color">
              Thông tin cá nhân
              <span class="badge badge-pill badge-danger float-right mt-1"></span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              Danh sách khóa học
              <span class="badge badge-pill badge-danger float-right"></span>
            </a>
            <a href="#" class="list-group-item list-group-item-action"
              >Kết quả học tập</a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <h5 class="card-header">Kết quả học tập</h5>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tên khóa học</th>
                  <th scope="col">Giảng viên</th>
                  <th scope="col">Năm học</th>
                  <th scope="col">Tình trạng</th>
                  <th scope="col">Mức độ hoàn thành</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Lập trình Java</td>
                  <td>Mr. John</td>
                  <td>2020</td>
                  <td>Đã đăng kí</td>
                  <td>50%</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Lập trình Java</td>
                  <td>Mr. John</td>
                  <td>2020</td>
                  <td>Đã đăng kí</td>
                  <td>20%</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Lập trình Java</td>
                  <td>Mr. John</td>
                  <td>2020</td>
                  <td>Đã đăng kí</td>
                  <td class="" >90%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
