
<div class="row">
       <class class="row ">
          {{#each this.teacher}}
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/img/teacher/team-01.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{TenGiangVien}}</h5>
                    <h6 class="card-title">{{Email}}</h6>
                    <a href="/teacher/mieuta" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          {{/each}}
       </div>
     </div>   
   </div>
  </div>
