.yellow-text{
    color: #ffff00;
}
#more{
    display: none;
}
.teacher-list li i{
    color: #e6720d;
}
.bg-infoCourse{
    background-color: #051f3f;
    color:white;
}
.strike-price{
    color: #ff5757;
}
.bs-accordion .panel-heading{
    padding:0;
}
.bs-accordion .panel-heading a{
    display: block;
    padding: 10px 15px;
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -5px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
}
#accordion .panel-title a{
    display: block;
    padding: 15px 70px 15px 20px;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #e6720d;
    border-bottom: 1px solid #1d2e3b;
    position: relative;
}
#accordion .panel-title a.collapsed{ color: #1d2e3b; }
#accordion .panel-title a.collapsed:hover{ color: #e6720d; }
#accordion .panel-title a:before,
#accordion .panel-title a:after{
    content: "";
    width: 3px;
    height: 10px;
    background: #e6720d;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 35px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}
#accordion .panel-title a:after{
    right: 29px;
    transform: rotate(45deg);
}
#accordion .panel-title a.collapsed:before{
    transform: rotate(45deg);
    background: #1d2e3b;
}
#accordion .panel-title a.collapsed:after{
    transform: rotate(-45deg);
    background: #1d2e3b;
}
#accordion .panel-title a.collapsed:hover:before,
#accordion .panel-title a.collapsed:hover:after{ background: #e6720d; }
#accordion .panel-body{
    padding: 10px 20px;
    background: #1d2e3b;
    border-top: none;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
}

.bg-card{
    background-color: #dee7fa !important;
}





  .cart-item {
    position: relative;
    margin-bottom: 30px;
    padding: 0 50px 0 10px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .cart-item .cart-item-label {
    display: block;
    margin-bottom: 15px;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .cart-item .cart-item-product {
    display: table;
    width: 420px;
    text-decoration: none;
  }
  .cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
    display: table-cell;
    vertical-align: top;
  }
  .cart-item .cart-item-product-thumb {
    width: 110px;
  }

  .cart-item .cart-item-product-info {
    padding-top: 5px;
    padding-left: 15px;
  }
  .cart-item .cart-item-product-info > span {
    display: block;
    margin-bottom: 2px;
    color: #404040;
    font-size: 12px;
  }
 
  .remove-item {
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    padding-left: 1px;
    border-radius: 50%;
    background-color: #ff5252;
    color: #fff;
    line-height: 23px;
    text-align: center;
    box-shadow: 0 3px 12px 0 rgba(255, 82, 82, .5);
    cursor: pointer;
  }

  .btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs{
background: #007b5e;
  color: #eee;
}
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 20px;
}
