<nav class="navbar navbar-expand-lg navbar-dark bg-color">
            <!-- Brand-->
            <a class="navbar-brand" href="#">HocNua</a>
            <div class="collapse navbar-collapse" id="menuNav">
                <!-- Menu option-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <!--Categories-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item" href="#">Category 1</a>
                            <a class="dropdown-item" href="#">Category 2</a>
                        </div>
                    </li>

                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Tutorials</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#" class="dropdown-item">Web Development</a></li>
                            <li><a tabindex="-1" href="#" class="dropdown-item">Mobile Development</a></li>
                            <li class="dropdown-submenu">
                                <a class="test dropdown-item" tabindex="-1" href="#">More<i class="fa fa-caret-down"
                                        aria-hidden="true"></i><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" class="dropdown-item">2nd level dropdown</a></li>
                                    <li><a tabindex="-1" href="#" class="dropdown-item">2nd level dropdown</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="test dropdown-item" href="#" class="dropdown-item">Another dropdown <i
                                                class="fa fa-caret-down" aria-hidden="true"></i><span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="dropdown-item">3rd level dropdown</a></li>
                                            <li><a href="#" class="dropdown-item">3rd level dropdown</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
            <!--End - Categories-->
            <!--Search bar -->
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item">
                        <div class="justify-content-md-center">
                            <form class="form-inline my-2 my-lg-0 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="Find courses ..."
                                    aria-label="Search" style="width: 400px;">

                                <button type="submit" class="search-button">
                                    <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <!--End of search bar-->

            <div class="d-flex justify-content-end">
                <div class="mr-2">
                    <button type="button" class="btn btn-info">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span
                            class="badge badge-pill badge-danger">3</span>
                    </button>
                </div>
                <div>
                    <a name="" id="" class="btn btn-primary" href="/login" role="button">Login</a>
                </div>

                <div>

                    <a type="button" class="btn btn-light mr-2 " href="/register">Register</a> 
                </div>

        </nav>