<div class="row">
  <div class="col-8">
        <table class="table table-striped">
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mã:KH299666967 </td>
                <td><i class="fa fa-eye" aria-hidden="true">
                    33.675 lượt xem
                </i></td>
                <td>
                    <i class="fa fa-comment" aria-hidden="true"> 127 bình luận</i>
                </td>
                <td>
                    <i class="fa fa-upload" aria-hidden="true">
                        Cập nhật 12/12/2020
                    </i>
                </td>
                </tr>
            </tbody>
        </table>
        <iframe width="860" height="415" src="https://www.youtube.com/embed/w7bMC7OCk2k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="header-card-line mt-220">
            <h2><span>Giáo viên giảng dạy</span></h2>
        </div>
            <div class="overflow-a">
                <div class="media margin-bottom-10 margin-top-0">
                    <div class="media-left">
                        <a href="/thanhvien?uid=9de02653-cb5d-41e8-8ac0-94dd9fc92f47">
                            <img class="media-object img-circle avatar" style="width: 48px;height: 48px;" src="https://www.vted.vn/upload/profile/images/637233642046548193U1vSt85gM3g.jpg?w=64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading"><strong>Đặng Thành Nam</strong></h5>
                        <a href="https://www.facebook.com/Mrdangthanhnam" title="facebook" target="_blank">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="overflow-a">
                    
                <p style="text-align:left"><strong>• CEO &amp; Founder &amp; Dosen tại Vted.vn - Học toán online chất lượng cao</strong></p>
                <p style="text-align:left"><strong>• Facebook của thầy các em Kết bạn/theo dõi tại đây:&nbsp;<a href="https://www.facebook.com/Mrdangthanhnam" target="_blank" rel="noopener">https://www.facebook.com/Mrdangthanhnam</a></strong></p>
                <p style="text-align:left"><strong>• Tất cả các khoá học Môn Toán do thầy giảng dạy tại Vted các em vào link:&nbsp;<a href="/khoa-hoc.html">https://vted.vn/khoa-hoc.html</a></strong></p>
                <p style="text-align:left"><strong>• Nếu cho chọn lại các em có chọn học Toán tại Vted nữa không??? Xem tại đây:
                <a href="https://www.facebook.com/groups/vted.vn/permalink/1259267130899096/" target="_blank" rel="noopener">
                https://www.facebook.com/groups/vted.vn/permalink/1259267130899096/</a>&nbsp;</strong></p>
                <p style="text-align:left"><strong>• Nhận xét của học viên khi tham gia học tập tại Vted các em xem tại allbum:&nbsp;<a href="https://www.facebook.com/media/set/?set=a.1369920146414690.1073741842.100001901544977&amp;type=1&amp;l=db28765616">https://www.facebook.com/media/set/?set=a.1369920146414690.1073741842.100001901544977&amp;type=1&amp;l=db28765616</a></strong></p>
                <p style="text-align:left"><strong>• Kết quả học sinh online Khoá 99 các em xem tại bảng Vinh danh Vteders 99:&nbsp;<a href="/su-kien/bang-vinh-danh/2017" target="_blank" rel="noopener">https://vted.vn/su-kien/bang-vinh-danh/2017</a></strong></p>
                <p style="text-align:left"><strong>• Kết quả học sinh online Khoá 2k các em xem tại bảng Vinh danh Vteders 2k:&nbsp;<a href="/su-kien/bang-vinh-danh/2018" target="_blank" rel="noopener">https://vted.vn/su-kien/bang-vinh-danh/2018</a></strong></p>
                <p style="text-align:left"><strong>• Kết quả học sinh online Khoá 2k1 các em xem tại bảng Vinh danh Vteders 2k1:&nbsp;<a href="/su-kien/bang-vinh-danh/2018" target="_blank" rel="noopener">https://www.vted.vn/su-kien/bang-vinh-danh/2019</a></strong></p>
                <p style="text-align:left"><strong>• Kết quả học sinh online Khoá 2k2 các em xem tại bảng Vinh danh Vteders 2k2:&nbsp;<a href="/su-kien/bang-vinh-danh/2020" target="_blank" rel="noopener">https://www.vted.vn/su-kien/bang-vinh-danh/2020</a></strong></p>
                <p style="text-align:left"><strong>• Các sách tham khảo đã xuất bản cho thầy Đặng Thành Nam biên soạn:&nbsp;<a href="/bai-viet/giang-vien-16.html" target="_blank" rel="noopener">https://vted.vn/bai-viet/giang-vien-16.html</a></strong></p>

             </div>
         

  </div>

  <div class="col-4">
      <div class="content-card margin-bottom-20 fixed-buy-course">
            <p class="h3">
                        <strong class="color-red">499.000<sup>đ</sup></strong>
                        <small>
                            <s class="text-muted">600.000<sup>đ</sup></s>
                            <strong class="color-red">(Tiết kiệm 101.000<sup>đ</sup>)</strong>
                            
                        </small>
            </p>
            <div class="buy-course-info">
                <p class="h4 margin-top-20">Thông tin</p>
                <ul class="list-unstyled">
                    <li class="margin-bottom-5">
                        <i class="color-green fa fa-book fa-fw"></i> Môn: Giải tích
                    </li>
                    <li class="margin-bottom-5">
                        <i class="color-green fa fa-home fa-fw"></i> Sinh Viên 
                    </li>
                        <li class="margin-bottom-5">
                            <span><i class="color-green fa fa-calendar fa-fw"></i> Khai giảng: 05/09/2019</span>

                        </li>
                                                    <li class="margin-bottom-5">
                            <span><i class="color-green fa fa-calendar fa-fw"></i> Kết thúc: 05/09/2020</span>

                        </li>
                    <li>
                        <i class="color-green fa fa-eye fa-fw"></i> Xem được trên máy tính, điện thoại, tablet
                    </li>
                </ul>
            </div>
            <div class="margin-top-20">

                    <div class="course-bar hidden-sm hidden-xs" style="display: none;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="btn btn-danger btn-block btn-add-cart" href="/cart/addtocart/kh299666967?type=Course" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart fa-fw"></i> Thêm vào giỏ hàng</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <a class="btn btn-bordered btn-block margin-bottom-10 btn-add-cart" href="/cart/addtocart/kh299666967?type=Course" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart fa-fw"></i> Thêm vào giỏ hàng</a>
                    <a class="btn btn-danger btn-block" href="/cart/buynow/kh299666967?type=Course" title="Mua khóa học">Mua khóa học</a>

            </div>
        </div>
        {{!-- ############################### --}}
        <div class="panel">
        <div class="panel-heading bg-color-dark-blue">
            <h4 class="panel-title font-bold">
                <i class="fa fa-phone fa-lg color-yellow" aria-hidden="true"></i> Hỗ trợ trực tuyến
            </h4>
        </div>
        <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/636397319207457083ErFbQPyrxxv.jpg?w=64" alt="Lương Hường">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=33726a31-a527-4879-b6bc-ec21b0eac0b4" class="media-heading color-black font-bold">Lương Hường</a><br>
                        <a class="font-bold" href="tel:01686104708">01686104708</a><br>
                        <a href="https://www.facebook.com/huong.luong.921" alt="Lương Hường" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/636462593805949574zbxwvKOKyRN.jpg?w=64" alt="Hiền Nguyễn">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=59b5c0c0-41f6-4c98-bfe4-74ce4359760b" class="media-heading color-black font-bold">Hiền Nguyễn</a><br>
                        <a class="font-bold" href="tel:01649424883">01649424883</a><br>
                        <a href="https://www.facebook.com/ntthien99" alt="Hiền Nguyễn" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/637045092947838963rnLwXUgH4SB.jpg?w=64" alt="Nguyễn Phương Thảo">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=5f65fb4f-aefe-4948-8e09-016472e6d81d" class="media-heading color-black font-bold">Nguyễn Phương Thảo</a><br>
                        <a class="font-bold" href="tel:0978195322">0978195322</a><br>
                        <a href="https://www.facebook.com/thaotep2110" alt="Nguyễn Phương Thảo" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/637305144719934774T9fTvKJSdON.jpg?w=64" alt="Chu Cúc">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=112a6975-5f9f-4609-b503-1c9c5e186b79" class="media-heading color-black font-bold">Chu Cúc</a><br>
                        <a class="font-bold" href="tel:0362147189">0362147189</a><br>
                        <a href="https://www.facebook.com/chysanthe.mun" alt="Chu Cúc" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/637347703210826024VqRd8Oi4kTb.jpg?w=64" alt="Phạm Quang Huy">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=26363d7e-6607-41b6-b39f-0d9f4e876063" class="media-heading color-black font-bold">Phạm Quang Huy</a><br>
                        <a class="font-bold" href="tel:0388867668">0388867668</a><br>
                        <a href="Huy Quang Phạm" alt="Phạm Quang Huy" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/636966341011156806yzGncLZym3O.jpg?w=64" alt="thanhbk">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=bcf1ef37-c65b-4478-b9f3-7fe8e98aeff5" class="media-heading color-black font-bold">thanhbk</a><br>
                        <a class="font-bold" href="tel:0382958988">0382958988</a><br>
                        <a href="https://www.facebook.com/t.thanhbk" alt="thanhbk" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/6370656751990740878VSVqwZCugj.jpeg?w=64" alt="nguyễn khánh ly">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=fc396c32-3943-4d6f-879b-47b96db531c3" class="media-heading color-black font-bold">nguyễn khánh ly</a><br>
                        <a class="font-bold" href="tel:0363613635">0363613635</a><br>
                        <a href="https://www.facebook.com/nguyenkhanhlybigbang" alt="nguyễn khánh ly" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/636873470646495142cLNcQG5c7jT.jpg?w=64" alt="Trịnh Huy Hoàng">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=edb69809-4c42-40a9-9c50-f2519d60ec8b" class="media-heading color-black font-bold">Trịnh Huy Hoàng</a><br>
                        <a class="font-bold" href="tel:0961681273">0961681273</a><br>
                        <a href="https://www.facebook.com/mrtrinhhuyhoang" alt="Trịnh Huy Hoàng" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/637183349396041188RaQFbBhQhER.jpg?w=64" alt="Đỗ Đại Học">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=f9d7fdb5-20b7-46b5-a9e4-cc5146224efb" class="media-heading color-black font-bold">Đỗ Đại Học</a><br>
                        <a class="font-bold" href="tel:0338903730">0338903730</a><br>
                        <a href="Ngô Thị Mỹ Tâm" alt="Đỗ Đại Học" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/6374513995055044268TmMRFR5nJD.jpeg?w=64" alt="Thanh Hương">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=1e796ec9-8ec7-4eb6-863b-5200cc006d1e" class="media-heading color-black font-bold">Thanh Hương</a><br>
                        <a class="font-bold" href="tel:0379495225">0379495225</a><br>
                        <a href="https://www.facebook.com/profile.php?id=1000292593" alt="Thanh Hương" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/637165682123045331gzwZXbHF8cP.jpeg?w=64" alt="Quỳnh Nga">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=3fef34ec-62b3-4530-897b-ca475f5ad976" class="media-heading color-black font-bold">Quỳnh Nga</a><br>
                        <a class="font-bold" href="tel:0977254294">0977254294</a><br>
                        <a href="https://www.facebook.com/T.TQN99" alt="Quỳnh Nga" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/637450441787489778gahNu1WR5Zb.jpg?w=64" alt="ngochuyenhao12a1">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=6bd524a7-0d12-4320-ba28-2e499c79437e" class="media-heading color-black font-bold">ngochuyenhao12a1</a><br>
                        <a class="font-bold" href="tel:0828125189">0828125189</a><br>
                        <a href="https://www.facebook.com/profile.php?id=1000273549" alt="ngochuyenhao12a1" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://www.vted.vn//upload/profile/images/6373317044495201137tDUrdWubaW.jpg?w=64" alt="Dangthinhan">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/thanhvien?uid=e613c81a-5785-4ad8-9794-7cbeead71182" class="media-heading color-black font-bold">Dangthinhan</a><br>
                        <a class="font-bold" href="tel:0392175187">0392175187</a><br>
                        <a href="Đặng Nhàn" alt="Dangthinhan" target="_blank">Facebook</a>
                    </div>
                </div>
        </div>
    </div>

  </div>
</div>

